@import url("general.css");

#adhoc-content {
  text-align: center;
}
#adhoc-content h1 {
  margin-bottom: 40px;
}
#adhoc-content div {
    margin-bottom: 40px;
}
#adhoc-content img {
  width: 340px;
}

@media (max-width: 700px) {
  #adhoc-content img {
    width: 100%;
  }
}
