/* Colors: 
#6B708D; grey
#072AC8 blue
#292E47 Header
*/

/* General Overrides */
* {
   margin: 0px;
   padding: 0px;
   border: 0px;
   font-family: "Roboto";
   color: #6b708d;
   font-size: 17px;
}

/* Colors */
.color-dark-blue {
   color: #072ac8;
}
.color-blue1 {
   color: #43d2ff;
}
.color-blue2 {
   color: #a2d6f9;
}
.color-light-blue {
   color: #d1edff;
}
.color-black {
   color: #292e47;
}
.color-dark-gray {
   color: #68708d;
}
.color-light-gray {
   color: #f2f4fc;
}
.color-white {
   color: #f2f4fc;
}
.color-yellow {
   color: #ffc600;
}
.bg-color-yellow {
   color: #ffc600;
}

/* Common styles */
.margin-large {
   margin: 0px 150px;
}
.margin-medium {
   margin: 0px 60px;
}

h1,
h2,
h3,
h4,
.body-intro,
.body-intro-light,
.headline,
.headline-light .caption,
.caption-light {
   color: #514d67;
}
.body-intro,
.headline {
   font-weight: 500;
}
.body-intro-light,
.headline-light,
.caption,
.caption-light {
   font-weight: 400;
}

h1 {
   font-size: 60px;
   line-height: 70px;
}
h2 {
   font-size: 50px;
   line-height: 59px;
}

h3 {
   font-size: 40px;
   line-height: 47px;
}

h4 {
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
}

/* General Components */
.btn,
.btn-large {
   background-color: #072ac8;
   color: white;

   display: flex;
   justify-content: center;
   flex-direction: column;
   align-content: center;
   align-items: center;
   font-size: 15px;
   line-height: 22px;
   font-weight: 500;

   cursor: pointer;
}

.btn:hover,
.btn-large:hover {
   opacity: 0.7;
   transition: 0.2s;
}

.btn {
   width: 150px;
   height: 52px;
}

.btn-large {
   width: 100%;
   height: 80px;
}

/* Navbar */

.top-nav {
   display: flex;
   width: 100%;
   position: fixed;
   left: 0;
   justify-content: space-between;
   box-shadow: 1px 1px 1px 1px #ddd;
   background-color: white;
   justify-content: space-around;
   align-items: center;
   top: 60px;
   height: 80px;
   top: 6px;
   z-index: 1;
}

.menu {
   display: flex;
   flex-direction: row;
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   list-style-type: none;
   flex-basis: 40%;
   justify-content: space-around;
}

.menu a:link {
   text-decoration: none;
}

.menu a:visited {
   text-decoration: none;
}

.menu a:hover {
   font-weight: bold;
   color: #072ac8;
}

.menu a:active {
   font-weight: bold;
   color: #072ac8;
}

.menu img {
   width: 3em;
   height: 3em;
}

.menu > li {
   margin: 0 1rem;
   overflow: hidden;
}

.menu-button-container {
   display: none;
   height: 100%;
   width: 30px;
   cursor: pointer;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#menu-toggle {
   display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
   display: block;
   background-color: black;
   position: absolute;
   height: 4px;
   width: 30px;
   transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
   border-radius: 2px;
}

.menu-button::before {
   content: "";
   margin-top: -8px;
}

.menu-button::after {
   content: "";
   margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
   margin-top: 0px;
   transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
   background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
   margin-top: 0px;
   transform: rotate(-405deg);
}

.top-nav button {
   background-color: #072ac8;
   border: none;
   color: white;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 15px 36px;
   gap: 10px;
}

/*Efectos de Scroll*/

.top-mav::before,
.top-mav::after {
   display: block;
   height: 16px;
   position: sticky;
}

.top-mav::before {
   top: 48px;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.top-mav::after {
   background: linear-gradient(
      white 10%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0.4) 70%,
      transparent
   );
   top: 0;
   z-index: 2;
}

/* Hamburger responsive */

@media (max-width: 700px) {
   .menu-button-container {
      display: flex;
      padding-left: 25px;
   }
   .menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
   }

   #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   }
   #menu-toggle:checked ~ .menu li {
      display: flex;
      border: 1px solid #072ac857;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      align-items: center;
   }
   .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: rgba(255, 255, 255, 0.699);
   }

   .menu > li:hover {
      background-color: rgba(0, 0, 255, 0.116);
   }

   .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
   }

   .top-nav button {
      width: 85px;
      height: 35px;
      font-size: 12px;
      padding: 0px;
   }
}

/* Seccion logos */

#logos {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   justify-content: space-around;
   filter: grayscale(100%);
   align-items: center;
   margin: 0 -5px;
   margin-top: 200px;
}

#logos img {
   margin: 15px;
}

/* Seccion recentProjects */

.projects {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-evenly;
   align-content: center;
   margin-bottom: 40px;
   width: 100%;
}

.projects div {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 340px;
   align-items: center;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   align-items: flex-start;
   height: 380px;
}

.container {
   display: flex;
   margin: 25px;
}

.innerproject {
   display: flex;
   align-items: flex-start;
   padding-right: 0px;
}

.innerproject h5 {
   padding-left: 25px;
   padding-top: 10px;
}

.innerproject p {
   padding-left: 25px;
}

.recentProjects h3 {
   display: flex;
   flex-direction: row;
   margin: 50px;
   text-align: center;
   justify-content: flex-start;
}

.projects-img {
   display: flex;
   flex-direction: column;
   margin: 0px;
   text-align: center;
   height: 200px;
   width: 340px;
   padding: 0px;
   margin-bottom: 0px;
   margin-top: 0px;
}

.projects a {
   text-decoration: none;
   margin-top: 35px;
   padding-left: 25px;
   color: #072ac8;
   padding-bottom: 15px;
}

.projects a:hover {
   font-weight: bold;
}

/* Seccion ourServices */

.our-Services h3 {
   display: flex;
   flex-direction: row;
   text-align: center;
   margin: 50px;
   justify-content: flex-start;
}

.services {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   align-content: center;
   margin-left: 3em;
   margin-right: 3em;
   margin-bottom: 40px;
   color: white;
}

.services-img {
   display: flex;
   flex-direction: column;
   margin: 50px;
   text-align: center;
   height: 40px;
   width: 40px;
   box-shadow: none;
   display: inline-block;
   padding: 15px;
   line-height: 100%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   background-color: rgba(13, 167, 238, 0.151);
   color: white;
   text-align: center;
}

.services div {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   width: 300px;
   align-items: center;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   padding: 30px;
   margin: 10px;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   color: white;
}

.projects a {
   text-decoration: none;
}

.services a {
   text-decoration: none;
   margin-top: 35px;
   padding-left: 25px;
   color: #072ac8;
   padding-bottom: 20px;
}

.projects .featuretext {
   padding: 25px;
}

.innerproject {
   color: white;
   background-color: white;
}

#footer {
   width: 100%;
   color: #68708d;
}

.footer-container {
   width: 100%;
   padding: 50px;
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
   gap: 20px;
}

.footer-content {
   font-size: 17px;
}

.footer-content p {
   margin-top: 30px;
   line-height: 25.5px;
}

.footer-content:last-child {
   width: 100%;
}

.footer-content-row > a {
   width: 33.33%;
   float: left;
   margin-top: 30px;
   text-decoration: none;
}

.footer-content-row > a:hover {
   font-weight: bold;
   color: #072ac8;
}

@media (min-width: 720px) {
   .footer-container {
      width: auto;
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      padding: 0;
      margin: 100px auto;
   }

   .footer-content {
      width: 50%;
   }

   .footer-content:first-child {
      text-align: left;
      margin-left: 70px;
   }

   .footer-content:last-child {
      width: 50%;
      text-align: left;
   }
}

@media (min-width: 1200px) {
   .footer-container {
      max-width: 1770px;
   }
}

#contact {
   margin-top: 90px;
   padding: 130px 170px;
}

#contact form {
   padding: 80px 0;
   width: 100%;
}

.form-label {
   width: 100%;
   font-size: 20px;
   margin: 10px 0;
}
